<p id="notice"><%= notice %></p>

<h1><%= @region.country.name %></h1>
<h2><%= @region.name %></h2>

<% if @region.localities.present? %>
  <h3>Cities / Localities</h3>

  <ul>
    <% @region.localities.each do |locality| %>
      <li><%= link_to locality.name, locality.path %></li>
    <% end %>
  </ul>
<% end %>
